*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.c{
    background-color: red;
    width: 100%;
    height: 30px;
    text-align: center;
    justify-content: center;
}
nav ul {
    display: flex;
    /* justify-content: center; */
    /* text-align: center; */


}
.navbar{
    display: flex;
}
nav ul li{

     margin: 30px; 
     padding: 50px; 
}
